@use 'variaveis';
@use 'hero';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corFundo;
    font-family: Avenir, sans-serif;
}

@mixin texto($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin titulo($fontSize: 40px) {
    @include texto($fontSize);
    color: variaveis.$corTextoSecundaria;
}

.texto--grande {
    @include texto(18px);
}

.texto {
    @include texto;
}

.texto--pequeno {
    @include texto(12px);
}

.titulo--grande {
    @include titulo(44px);
}

.titulo {
    @include titulo;
}

.titulo--pequeno {
    @include titulo(28px);
}

.link-texto {
    @include texto(18px);
    color: variaveis.$corTextoSecundaria;
    text-decoration: underline;
}